h1 {
color: red;
font-family: Arial;
font-size: 30pt;
text-align: center;
}
h2{
color: green;
font-family: Arial;
font-size: 20pt;
text-align: left;
}
p {
color: black;
font-family: Segoe;
font-size: 25pt;
text-align: center;
}
ul {
color: grey;
font-family: Arial;
font-size: 13pt;
text-align: left;
}
body
{
	background: url(HD2.jpg)
}
a
{
	text-decoration: none
}